<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXGEN</title>
    <link rel="icon" type="image/x-icon" href="/uploads/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/login.css">
    <style> span{color: red; height: 20px;} </style>
</head>

<body>
    <div class="container right-panel-active " id="container">
        <div class="form-container sign-up-container">   
            <form action="/admin/" onsubmit="return login()" method="post">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social">N</a>
                    <a href="#" class="social">e</a>
                    <a href="#" class="social">X</a>
                    <a href="#" class="social">G</a>
                    <a href="#" class="social">e</a>
                    <a href="#" class="social">N</a>
                </div>
                <span style="color: black;">provide credentials to login</span>
                <div class="infield">
                    <input id="email" type="text" placeholder="Email" name="email" onkeyup="validateEmail()"/>
                    <span id="errEmail"></span>  
                </div>
                <div class="infield">
                    <input type="password" id="password" placeholder="Password" name="password" onkeyup="validatePassword()"/>
                    <span id="errPassword"></span>
                </div>
                <a href="#" class="forgot">Forgot your password?</a>
                <button type="submit" onclick="validateEmail(), validatePassword()">Login</button>
                <% if(typeof message !=='undefined' ){ %>
                  <span style="color: crimson; padding-top: 20px;"><%= message %></span>
                  <% } %>
            </form>
        </div>
        <div class="overlay-container" id="overlayCon">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with Administration please login with your credentials</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
    
<script src="validation.js"></script>
</body>
</html>
